<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	 version="3.1">
    <session-config>
        <session-timeout>-1</session-timeout>
    </session-config>
    
    <listener>
        <listener-class>config.InitialiseDaoFactory</listener-class>
    </listener>
    
    <filter>
	<filter-name>RestrictionFilter</filter-name>
	<filter-class>filters.RestrictionFilter</filter-class>
    </filter>
    <filter-mapping>
            <filter-name>RestrictionFilter</filter-name>
            <servlet-name>getHuman</servlet-name>
            <servlet-name>getPost</servlet-name>
            <servlet-name>Logout</servlet-name>
            <servlet-name>Settings</servlet-name>
            <servlet-name>UpdatePassword</servlet-name>
            <servlet-name>Wall</servlet-name>
    </filter-mapping>

</web-app>
